@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="./pc-display-horizontal.svg" alt="Computer Icon" height="20"> Asiema</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./pages/about.html">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Portfolio
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./pages/Projects/Data Enineering Projects.html">Data Enineering Projects</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="./pages/Projects/Machine Learning Projects.html">Machine Learning Projects</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="./pages/Projects/Computer Vision.html">Computer Vision</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="./pages/Projects/LangChain Projects.html">LangChain Projects</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="./pages/Projects/Language Processing.html">Language Processing</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="Portfoliosearch" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search </button>
      </form>
    </div>
  </div>
</nav>

    <!-- Hero Section -->
<div class="px-4 py-5 my-5 text-center">

  <!-- Logo -->
  <img 
    class="d-block mx-auto mb-4" 
    src="prof_pic.jpg.jpg" 
    alt="Bootstrap Logo" 
    width="288" 
    height="228"
  >

  <!-- Hero Heading -->
  <h1 class="display-5 fw-bold text-body-emphasis">Get to know me</h1>

  <!-- Subtext -->
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4" style="text-align: justify;">
        Currently a Masters student enrolled at Nelson Mandela University undertaking research in catalytic chemistry.
        My expertise in GreenQUEST? 
        Key role is in the incorporation of nanopalladium into BEA zeolites as catalysts. The catalysts will then be utilized in the conversion and selectivity of Dimethyl ether into propane and butane.
    </p>

    <!-- Buttons -->
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
        About Me
      </button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">
        Contact
      </button>
    </div>
  </div>
</div>

<div class="container" style="max-width: 600px;"height="400px;">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./image1.JPG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./image2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./image3.JPG" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
